.guppy-explorer-visualization__table {
  margin-top: 20px;
  width: 100%;
}

.guppy-explorer-visualization__summary-cards {
  margin-top: 10px;
  margin-bottom: 6px;
}

.guppy-explorer-visualization__charts {
  margin-bottom: 6px;
  background-color: var(--g3-color__white);
}

.guppy-explorer-visualization__connected-filter--hide {
  display: none;
}

/* Overrides */
.recharts-tooltip-wrapper {
  z-index: 1000;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.guppy_button_right_align_new{
  text-align: right;
}